.table{
  width: 100%;
}

.A{
  color: green;
    font-weight: 600;

}
.B{
  color: rgb(255, 115, 0);
  font-weight: 600;
}
.C{
    font-weight: 600;
  color: rgb(255, 0, 0);

}
.tablehead {
  background: #F9F9FD;
}
.th{
  color: #7A778F;
}
.first  {
  width: 30%;
}
.full  {
  width: 100%;
}
.sec  {
  width:70%;
}

.label {
  pointer-events: none;
  color: #7A778F;
  margin: 0;
}
.mbody{
  background: #000;
}